
<section id="about" class="about" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <span>About</span>
                <h2>About</h2>
            </div>
            <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-lg-8 d-flex flex-column align-items-stretch">
                <div class="content ps-lg-8 d-flex flex-column justify-content-center">
                    <div class="row">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.
                        </p>
                    </div>
                </div>
            </div>


            <h3>Skills</h3>
            <ProgressBar Percentage=25 Skill="Skill 1"></ProgressBar>
            <ProgressBar Percentage=85 Skill="Skill 2"></ProgressBar>
            <ProgressBar Percentage=75 Skill="Skill 3"></ProgressBar>

           
        </div>

        
    </div>
</section>

                        @code{
   
                        }