<div class="text-white"> 
@message <span class="blink text-white">|</span>
</div>


@code {

    [Parameter]
    public List<string> Words { get; set; }

    public string message;

    protected override void OnInitialized()
    {
        Generate();
    }

    private async Task Generate()
    {
        try
        {
            while (true)
            {
                foreach (string word in Words)
                {
                    await ProcessWord(word);
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task ProcessWord(string word)
    {
        // Animate the word being typed out
        for (int i = 0; i <= word.Length; i++)
        {
            await Task.Delay(100);
            message = word.Substring(0, i);
            StateHasChanged();
            await Task.Delay(100);
        }

        await Task.Delay(4000);

        // Animate the word being erased
        for (int i = word.Length; i > 0; i--)
        {
            await Task.Delay(100);
            message = word.Substring(0, i);
            StateHasChanged();
        }
    }
}