<section id="hero" title="lorraine at yoga studio">
    <div class="hero-container">
        <h1 class="text-center">Welcome to your great new template....</h1>
        <h2>strapline goes here</h2>

        <BlazorTyped Words=@typedWords></BlazorTyped>
        <br />
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bi bi-chevron-down"></i></a>
        @* <a onclick="document.getElementById('about').scrollIntoView({behavior:'smooth'})" class="btn-scroll scrollto" title="Scroll Down"><i class="bi bi-chevron-down"></i></a> *@
    </div>
</section>

@code {

    private List<string> typedWords = new List<string>(){"strap 1", "strap 2", "strap 3" };

}
