
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>My Portfolio</span>
            <h2>My Portfolio</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container">
            <div class="card col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="overflow-hidden">
                    <img class="card-img-top portfolio-img" src="../img/portfolio/portfolio-1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.</p>
                    <a href="../projects/1" class="btn btn-primary">More ....</a>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="overflow-hidden">
                    <img class="card-img-top portfolio-img" src="../img/portfolio/portfolio-2.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Project 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.</p>
                    <a href="../projects/1" class="btn btn-primary">More ....</a>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="overflow-hidden">
                    <img class="card-img-top portfolio-img" src="../img/portfolio/portfolio-3.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Project 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.</p>
                    <a href="../projects/1" class="btn btn-primary">More ....</a>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="overflow-hidden">
                    <img class="card-img-top portfolio-img" src="../img/portfolio/portfolio-4.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Project 4</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.</p>
                    <a href="../projects/1" class="btn btn-primary">More ....</a>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="overflow-hidden">
                    <img class="card-img-top portfolio-img" src="../img/portfolio/portfolio-5.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Project 5</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.</p>
                    <a href="../projects/1" class="btn btn-primary">More ....</a>
                </div>
            </div>

            <div class="card col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="overflow-hidden">
                    <img class="card-img-top portfolio-img" src="../img/portfolio/portfolio-6.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Project 6</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus pharetra imperdiet. Ut eget ullamcorper nisl. Donec fermentum non libero a lobortis. Aenean gravida sagittis metus quis dictum. In malesuada odio felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras lacinia dapibus est, nec mattis nulla cursus in. In ac diam rhoncus, ullamcorper urna eu, dapibus mi. Vestibulum viverra ligula sit amet tellus facilisis fermentum. Vivamus volutpat non augue vel aliquet.</p>
                    <a href="../projects/1" class="btn btn-primary">More ....</a>
                </div>
            </div>



        </div>

    </div>
</section>
