@page "/resume"


<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Richard Gilbert</h2>
            <p>Experienced Full-Stack .NET Developer</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
            
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Richard Gilbert</h4>
                    <p>Skilled and adaptable full-stack .NET developer with 15 + years of experience in designing, developing, and maintaining robust web applications. Proficient in both front-end and back-end technologies including ASP.NET Core, C# and SQL Server. Seeking short to medium-term contracts or permanent remote work opportunities.</p>
                    <p>
                        <ul>
                            <li>Salisbury, Wiltshire, UK</li>
                            <li class="fs-3"><i class="bi bi-telephone"></i><a href="tel:+4407864214756"> 0786 4214756 </a></li>
                            <li class="fs-3"><i class="bi bi-envelope"></i><a href="mailto: RichardJGilbert@hotmail.com"> RichardJGilbert@hotmail.com</a></li>
                        </ul>
                    </p>
                </div>

                <h3 class="resume-title">Current development stack</h3>
                <div class="resume-item">
                    <h4>C#</h4>                   
                    <ul>
                        <li>.NET 8</li>
                        <li>C# 12</li>
                    </ul>
                    <h4>ASP.Net Core</h4>
                    <ul>
                        <li>Proficient in Blazor and MVC.</li>
                        <li>Extensive experience of developing both Minimal and traditional Web APIs. Familar with FastEndpoints.</li>
                        <li>Thorough understanding of Routing, Middleware, Filters, Configuration, Dependency Injection and Authorisation.</li>
                        <li>Familar with the major Authentication techniques of JWT, Basic Auth, OAuth, Cookies and OpenID.</li>
                    </ul>
                    <h4>RDBMS and ORMS</h4>
                    <ul>
                        <li>SQL Server / SQLite / Azure SQL</li>
                        <li>Entity Core Framework</li>
                    </ul>
                    <h4>Testing</h4>
                    <ul>
                        <li>Unit Testing with xUnit and NUnit</li>
                        <li>E2E Testing with Playwright</li>
                    </ul>
                    <h4>Cloud</h4>
                    <ul>
                        <li>Serverless - Azure Functions</li>
                        <li>Hosting - App service/ Azure Static Web Apps</li>
                        <li>Azure Cosmos DB for MongoDB</li>
                    </ul>
                </div>

                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior Software Solutions Developer</h4>
                    <h5>2015 - 2023</h5>
                    <p><em>Health-On-Line (AXA / Cognizant)</em></p>
                    <p>
                        I joined HOL to become part of the team developing a Personal Medical Insurance policy/price comparison site for MoneySupermarket.com. The project was developed using ASP.NET MVC and SQL Server. After the initial successful delivery of the project, I took on the role of lead developer, managing the ongoing relationship with the client and overseeing the development and release cycles according to their schedules and requirements. This long-term project also led to the growth of an in-house digital team responsible for the design, development and maintenance of a wide range of bespoke, primarily web-based projects.
                    </p>
                    <h4>Notable Projects</h4>
                    <h5>MoneySupermarket.com PMI comparison site</h5>
                    <p>Developed in ASP.NET MVC, SQL Server and Knockout.js.</p>
                    <h5>Health-On-Line Corporate Site</h5>
                    <p>THe main company corporate site built on the Umbraco (7.xx) platform.</p>
                    <h5>Health-On-Line Quote and Buy Site</h5>
                    <h5>Secure Health Corporate Site (retired)</h5>
                    <p>Maintenance / development of the corporate site built in ASP.NET MVC.</p>
                    <p>Complete redesign and development of the HOL PMI sales site. This was developed in Angular 8  with a .NET/ SQL Server back end.</p>
                    <h5>Secure Health Sales Tool (retired)</h5>
                    <p>A sales tool built using Angular 8 for the front end and a .NET / Azure Cosmos Db for MongoDb backend.</p>
                    <h5>Insure-Me-Online Corporate Site (retired)</h5>
                    <p>Ongoing maintenance and development of the corporate site for this PMI broker built in ASP.NET MVC and SQL Server offering price and policy comparisons.</p>
                    <h5>Company Intranet</h5>
                    <p>Design, implementation and maintenace of the company intranet developed in ASP.NET MVC and SQL server. </p>
                    <h5>Marketing Engagement and Lead Grneration Game</h5>
                    <p>Design, implementation and development of a clone of the classic Track and Field arcade game with supporting customer detail capture functionality. Written purely in HTML,CSS and Javascript for hosting on a Raspberry Pi.</p>
                    <h5>Internal Employee Engagement and Voting Application</h5>
                    <p>Quiz, voting and engagement site written in ASP.NET MVC and SQL Server.</p>
                </div>
                <div class="resume-item">
                    <h4>.Net Developer</h4>
                    <h5>2005 - 2015</h5>
                    <p><em>Thomson Directories, Farnborough, UK</em></p>
                    <p>Engaged in the development and maintenace of the main directory site (https://www.thomsonlocal.com) and their pay per click (now retired) offering for third party search sites. Technologies used were primarily C#, SQL Server and ASP.NET MVC. </p>
                </div>

                 <div class="resume-item">
                    <h4>.Net Developer</h4>
                    <h5>1999 - 2004</h5>
                    <p><em>NCC Education, Manchester, UK</em></p>
                     <p>Involved in the development and maintenace of their European Computer Driving Licence (ECDL) product.</p>
                </div>

                <div class="resume-item">
                    <h4>Microsoft Developer</h4>
                    <h5>1998-1999</h5>
                    <p><em>Skandia, Douglas, IOM</em></p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>MSC Computer Science</h4>
                    <h5>1990 - 1994</h5>
                    <p><em>Staffordshire UNiversity, Stafford, Staffs</em></p>
                </div> 
            </div>
        </div>
    </div>
</section>


@code {

}
