<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <span>My Resume</span>
            <h2>My Resume</h2>
            <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Jack Nicholson</h4>
                    <p><em>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias. Sit sint consectetur velit quisquam cupiditate impedit suscipit alias.</em></p>
                    <p>
                        <ul>
                            <li>Shaftesbury, Dorset UK</li>
                            <li>(+44) 5555 666666</li>
                            <li>jack.nicholson@example.com</li>
                        </ul>
                    </p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Master of Science &amp; Art</h4>
                    <h5>1990 - 1994</h5>
                    <p><em>Test Institute of Technology, Dorchester, Dorset</em></p>
                    <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Fine Science &amp; Art</h4>
                    <h5>2010 - 2014</h5>
                    <p><em>Graduate School, Dorchester, Dorset</em></p>
                    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior Manager</h4>
                    <h5>2019 - Present</h5>
                    <p><em>MIcrosoft, Reading, Berkshire </em></p>
                    <p>
                        <ul>
                            <li>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</li>
                            <li>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</li>
                            <li>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</li>
                            <li>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Senior Manager</h4>
                    <h5>2019 - Present</h5>
                    <p><em>MIcrosoft, Reading, Berkshire </em></p>
                    <p>
                        <ul>
                            <li>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</li>
                            <li>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</li>
                            <li>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</li>
                            <li>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

