<section id="testimonials" class="testimonials">
    <div class="container position-relative">
        
        <div class="section-title">
            <span>Testimonials</span>
            <h2>Testimonials</h2>
        </div>

        <div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
            @*  <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> *@
            <div class="carousel-inner">
                <div class="carousel-item testimonial-item active">
                    <div class="testimonial-item">
                        <img src="../img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Mr X</h3>
                        <h4>Happy Client</h4>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." 
                        </p>
                    </div>
                </div>

                <div class="carousel-item testimonial-item">
                    <div class="testimonial-item">
                        <img src="../img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Mr X</h3>
                        <h4>Happy Client</h4>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </div>
                </div>

                <div class="carousel-item testimonial-item">
                    <div class="testimonial-item">
                        <img src="../img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Mr X</h3>
                        <h4>Happy Client</h4>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </div>
                </div>

                <div class="carousel-item testimonial-item">
                    <div class="testimonial-item">
                        <img src="../img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Mr X</h3>
                        <h4>Happy Client</h4>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev" style="bottom:unset">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next" style="bottom:unset">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

@code {

}
