

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @Percentage%">
        <span style="font-size:large">
        @Skill
        </span>
        </div>
</div>

@code {

    [Parameter]
    public string? Skill { get; set; }

    [Parameter]
    public int Percentage { get; set; }

}
